    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">导航开关</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/zh">
                <img class="brand" alt="Mu Logo" src="/img/brand.png"/>
              </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="/zh/download">下载</a></li>
                  <li><a href="/zh/about">关于</a></li>
                  <li><a href="/zh/tutorials">教程</a></li>
                  <li><a href="/zh/howto">操作指南</a></li>
                  <li><a href="/zh/discuss">讨论</a></li>
                  <li><a href="/zh/developers">开发者</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">语言<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% include lang_list.html %}
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
